*{
    margin: 0;
    padding: 0;
}


/*Nicolás-Actividad 3:*/
.contenedor{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 3px solid;
    background-image: url("img-nicolas/nav.jpg");
    background-size: auto;
    
}

img{
    height: 90px;
    width: auto;
}

nav ul{
    list-style-type: none;
    align-items: center;
}

.titulo{
    font-size: 60px;
}

.c-historia{
width: 80%;
float: left;
}

img{
    width: 100%;
    height: auto;
}
aside {
    width: 250px;  
    padding: 15px;  
    margin-left: 20px;  
    display: flex;
}
    footer{
    background-color: #333;  
    color: white;  
    text-align: center; 
    padding: 10px 0;  
    position: fixed;  
    bottom: 0;
    width: 100%;  
}

