
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #e9baba;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}


h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 20px;
}


.descripcion {
    text-align: center;
    font-size: 1.2rem;
    color: #7f8c8d;
    margin-bottom: 30px;
}

.caja {
    background-color: #89d7eb;
    border: 2px solid #aeea8b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}


.caja p {
    font-size: 1rem;
    color: #090908;
    text-align: center;
}
